{% extends 'root.html' %}
{% load static %}


{% block body %}

<style>
  #loading,
  #results {
    display: none;
  }

  #loading {
    width: 100%;
  }

  #loading img {
    width: 100px;
    margin: 0 auto;
    display: block;
  }
</style>


<main class="flex-shrink-0 main has-footer">
  {% include 'header.html' %}
  <!-- Fixed navbar -->


  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card card-body text-center mt-5">
          <h1 class="heading display-5 pb-3">Camera</h1>

          <div id="cameraPreview" style="width: auto; height: 350px;"></div>

          <div class="form-group">
            <input type="submit" value="Capture Image" id="captureBtn" class="btn btn-primary btn-block captureBtn">
          </div>

          <div id="loading">
            <img src="{% static 'img/Loading.gif' alt='Loading' %}">
        </div>

        <div id="results" class="pt-4">
            <h5>Results</h5>
            <div class="form-group">
                
                    Car number
                    <input type="text" class="form-control car_number" id="car_number" name="total_calories" disabled>
                    Car owner
                    <input type="text" class="form-control car_owner" id="car_owner" name="total_calories" disabled>
                    Owner dob
                    <input type="text" class="form-control owner_dob" id="owner_dob" name="total_calories" disabled>
                    Telephone
                    <input type="text" class="form-control telephone" id="telephone" name="total_calories" disabled>
                    Car model
                    <input type="text" class="form-control car_model" id="car_model" name="total_calories" disabled>
                    Car type
                    <input type="text" class="form-control car_type" id="car_type" name="total_calories" disabled>
                    Color
                    <input type="text" class="form-control color" id="color" name="total_calories" disabled>
                    Date of reg
                    <input type="text" class="form-control date_of_reg" id="date_of_reg" name="total_calories" disabled>
                    Region of reg
                    <input type="text" class="form-control region_of_reg" id="region_of_reg" name="total_calories" disabled>
                    
                    {% comment %} <img  id="image" height=150 width=150  source=""/> {% endcomment %}

                    <br><br>
                    <center><span>Report Issue</span></center>
                    <input type="text" class="form-control comment" id="comment" name="comment" placeholder="Comment">
                    <br>
                    <input type="submit"  value="Submit Report" class="btn btn-primary"/>
                
            </div>


        </div>
      </div>
    </div>
    {% endblock body %}






    {% block script %}


    <script>
      $(document).ready(function() {
        var video = document.createElement('video');
        video.style.width = '100%';
        video.style.height = 'auto';
        video.autoplay = true;
    
        var cameraPreview = document.getElementById('cameraPreview');
        cameraPreview.appendChild(video);
    
        navigator.mediaDevices.getUserMedia({
            video: {
                facingMode: {
                    exact: "environment" // Use the back camera
                }
            }
        })
        .then(function(stream) {
            video.srcObject = stream;
        })
        .catch(function(err) {
            console.error('Error accessing the camera:', err);
        });
    
        $('#captureBtn').click(function() {
            var canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            var imageDataURL = canvas.toDataURL('image/png');
    
            // Send captured image to Django backend
            $('#loading').show();
            $('#results').hide();
            sendImageToDjango(imageDataURL);
        });
    
        function sendImageToDjango(imageDataURL) {
            $.ajax({
                url: "{% url 'process_image' %}", // Change the URL to match your Django view
                type: 'POST',
                data: {
                    image_data: imageDataURL
                },
                success: function(response) {
                  $('#loading').hide();
                    $('#results').show();
                    $('.car_number').val(response.car_number);
                    $('.car_owner').val(response.car_owner);
                    $('.owner_dob').val(response.owner_dob);
                    $('.telephone').val(response.owner_phone);
                    $('.car_model').val(response.car_model);
                    $('.car_type').val(response.car_type);
                    $('.color').val(response.color);
                    $('.date_of_reg').val(response.date_of_reg);
                    $('.region_of_reg').val(response.region_of_reg);
                    console.log('Image uploaded successfully:', data);
                    // Handle response from backend
                },
                error: function(xhr, textStatus, errorThrown) {
                  $('#loading').hide();
                  $('#results').hide();
                    //console.error('Error uploading image:', errorThrown);
                    alert('Error uploading image:', errorThrown)
                }
            });
        }
    });
    
    
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date(); 
      (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/64198c6631ebfa0fe7f3cddd/1gs1sot3p';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    {% endblock script %}