{% extends 'root.html' %}
{% load static %}


{% block body %}
<style>
    .grid {
        width: 90%;
        margin: 10px;
        padding: 50px;
        display: grid;
        grid-template-columns: 30% 70%;

    }

    .calorie {
        width: 90%;
        margin: 10px;
        padding: 50px;

    }

    #table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #table td,
    #table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table tr:hover {
        background-color: #ddd;
    }

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
</style>

<main class="flex-shrink-0 main has-footer">
    {% include 'header.html' %}
    <!-- Fixed navbar -->
    <h3 style="color: #fff; text-align: center; margin-top: 10px; margin-bottom: 10px">Hello, {{request.user}}!</h3>


    <center>
        <div class="card grid" style="background: url({% static 'img/Volta-River-Authority.png' %})">
            <div>
                {% comment %} <img src="{% static 'img/Volta-River-Authority.png' %}" alt="weight" width="100px" height="100px"> {% endcomment %}
            </div>
            <div>
                {% comment %} <h5>Goal Weight</h5> {% endcomment %}
                <h1>{{user_calorie.desired_weight}}</h1>
            </div>
        </div>

    </center>
        <div class="card calorie">

            <h5>Search Number Plate</h5>
            <form id="calorie-form" method="POST" action="{% url 'camera' %}">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="age" class="col-sm-2 col-form-label">Car Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control carnumber" id="carnumber" name="carnumber" placeholder="GA-4671-24">
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Check" id="Calculate" class="btn btn-primary btn-block Calculate">
                </div>



                <div id="loading">
                    <img src="{% static 'img/Loading.gif' alt='Loading' %}">
                </div>

                <div id="results" class="pt-4">
                    <h5>Results</h5>
                    <div class="form-group">
                        
                            Car number
                            <input type="text" class="form-control car_number" id="car_number" name="total_calories" disabled>
                            Car owner
                            <input type="text" class="form-control car_owner" id="car_owner" name="total_calories" disabled>
                            Owner dob
                            <input type="text" class="form-control owner_dob" id="owner_dob" name="total_calories" disabled>
                            Telephone
                            <input type="text" class="form-control telephone" id="telephone" name="total_calories" disabled>
                            Car model
                            <input type="text" class="form-control car_model" id="car_model" name="total_calories" disabled>
                            Car type
                            <input type="text" class="form-control car_type" id="car_type" name="total_calories" disabled>
                            Color
                            <input type="text" class="form-control color" id="color" name="total_calories" disabled>
                            Date of reg
                            <input type="text" class="form-control date_of_reg" id="date_of_reg" name="total_calories" disabled>
                            Region of reg
                            <input type="text" class="form-control region_of_reg" id="region_of_reg" name="total_calories" disabled>
                            
                            {% comment %} <img  id="image" height=150 width=150  source=""/> {% endcomment %}

                            <br><br>
                            <center><span>Report Issue</span></center>
                            <input type="text" class="form-control comment" id="comment" name="comment" placeholder="Comment">
                            <br>
                            <input type="submit"  value="Submit Report" class="btn btn-primary"/>
                        
                    </div>

                </div>
        </div>
        </form>
        </div>


        <div class="card calorie">
            <h5>Recent Reports</h5>
            <div>
                <table id="table">
                    <tr>
                        <th>Car Number</th>
                        <th>Report Date</th>
                    </tr>
                    {% for report in reports %}
                        <tr>
                            <td>{{report.car_number}}</td>
                            <td>{{report.reported_date}}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>

        </div>

        
    

    {% endblock body %}


    {% block script %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#captureBtn').click(function () {
                $('#imageInput').click(); // Trigger file input click
            });

            $('#imageInput').change(function (e) {
                var file = e.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        var imageDataURL = reader.result;
                        // Send captured image to Django backend
                        sendImageToDjango(imageDataURL);
                    };
                    reader.readAsDataURL(file);
                }
            });

            function sendImageToDjango(imageDataURL) {
                // AJAX request to Django backend
                $.ajax({
                    url: '/process_image/', // URL to your Django view for processing the image
                    type: 'POST',
                    data: {
                        image_data: imageDataURL
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                    }
                });
            }
        });
    </script>
    <script>

        $(document).ready(function () {
            $('#Calculate').click(function (e) {
                e.preventDefault();
                $('#loading').show();
                $('#results').hide();
                var carnumber = $( "#carnumber" ).val().toUpperCase();

                $.ajax({
                    url: "{% url 'searchCarNumber' %}",
                    type: 'POST',
                    data: JSON.stringify({
                        carnumber: carnumber
                    }),
                    contentType: "application/json",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    
                    success: function(response){
                        console.log(response)
                        $('#loading').hide();
                        $('#results').show();
                        $('.car_number').val(response.car_number);
                        $('.car_owner').val(response.car_owner);
                        $('.owner_dob').val(response.owner_dob);
                        $('.telephone').val(response.owner_phone);
                        $('.car_model').val(response.car_model);
                        $('.car_type').val(response.car_type);
                        $('.color').val(response.color);
                        $('.date_of_reg').val(response.date_of_reg);
                        $('.region_of_reg').val(response.region_of_reg);
                    },
                    error: function(data){
                        $('#loading').hide();
                        $('#results').hide();
                        alert("Car number not found!");
                    },

                })
            });
        });


    </script>


    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/64198c6631ebfa0fe7f3cddd/1gs1sot3p';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    {% endblock script %}